.navbar {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 1rem;
    
    align-items: center;
}

.btn {
    background-color: red;
    border: 1px solid black;
    border-radius: 30px;
    padding: 1rem;
    color: white;
    cursor: pointer;
}